{% extends 'base2.html.twig' %}

{% block title %}Edit Neoclean{% endblock %}

{% block body %}
	<div class="row">
		
   	<div class="col-md-6">
        <img src=" {{ asset('img/articles/')}}{{ neoclean.image }} " class="img-fluid" alt="">  
        

      </div>
      <div class="col-md-6">
       {{ include('neoclean/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <a href="{{ path('neoclean_index') }}"> <button class="btn btn-default btn-block" > Rétour</button></a>
         {{ include('neoclean/_delete_form.html.twig') }}

      </div>
   </div>

    {# <h1>Edit Neoclean</h1>

    {{ include('neoclean/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('neoclean_index') }}">back to list</a> #}

 
{% endblock %}
