{% extends 'base2.html.twig' %}

{% block title %}Edit Neoprint{% endblock %}

{% block body %}
   
   {#  {{ include('neoprint/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('neoprint_index') }}">back to list</a>#}

    
    
 
    <div class="row">
		
   	<div class="col-md-6">
        <img src=" {{ asset('img/articles/')}}{{ neoprint.image }} " class="img-fluid" alt="">  
        
 		
      </div>
      <div class="col-md-6">
       {{ include('neoprint/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		<a href="{{ path('neoprint_index') }}"> <button class="btn btn-default btn-block " > Rétour</button></a>
		{{ include('neoprint/_delete_form.html.twig') }} 
      </div>
   </div>
{% endblock %}
