{% extends 'base2.html.twig' %}

{% block title %}NeoPrint liste {% endblock %}

{% block body %}
<div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                <tr>
                  <th>Id</th>
                  <th>Titre</th>
                  <th>Image</th>
                  <th>actions</th>
                </tr>
                  </thead>
                  <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Titre</th>
                  <th>Image</th>
                  <th>actions</th>
                </tr>
                  </tfoot>
                  <tbody>
         {% for neoprint in neoprints %}
            <tr>
                <td>{{ neoprint.id }}</td>
                <td>{{ neoprint.titre }}</td>
                <td>{{ neoprint.image }}</td>
                <td>
                    <a href="{{ path('neoprint_show', {'id': neoprint.id}) }}">show</a>
                    <a href="{{ path('neoprint_edit', {'id': neoprint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
            <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
                  </tbody>
                </table>
              </div>
    </div>


  
{% endblock  %} 