{% extends 'base.html.twig' %}

{% block title %}Neo multiservices{% endblock %}

{% block body %}


 <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background">
              <img src="img/neomachine3.jpeg" alt="">
              <!-- img src="http://afrique.le360.ma/sites/default/files/styles/image_la_une_on_home_page/public/assets/images/2018/06/imprimerie.jpg?itok=lbumfAyl" alt=""> --></div> 
            <div class="carousel-container">
              <div class="carousel-content">
                
                <h2>Neo print</h2>
                <p>Impression de qualité sur tout support avec des machines de pointe.</p>
                <a href="{{ path('articles_index') }}" class="btn-get-started scrollto">pimp my tee</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/neomachine2.jpeg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Professionnels</h2>
                <p>Nos temps de confections et de livraisons sont adaptés aux clients.</p>
                <a href="{{ path('articles_index') }}" class="btn-get-started scrollto">Peep my tee</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="http://www.choisir-sa-franchise.com/image/franchise/559/Photos/Franchise_Auto_Nettoyage_Accessoires.JPG" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Neo Clean</h2>
                <p>Service d'entretien et de nettoyage de nettoyage de façade et de bureau pour un milieu de vie saint.</p>
                <a href="{{ path('articles_index') }}" class="btn-get-started scrollto">Peep my tee</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/neomugs2.jpeg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Proximité</h2>
                <p>Nous connaissons les spécificités locaux  ainsi que leurs besoins dans le domaine.</p>
                <a href="{{ path('articles_index') }}" class="btn-get-started scrollto">Peep my tee</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/neoepers.jpeg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Compétences</h2>
                <p>Tous nos techniciens possèdent une formation et une expérience du metier</p>
                <a href="{{ path('articles_index') }}" class="btn-get-started scrollto">Peep my tee</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Arriere</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-android-print"></i>
            <h4 class="title"><a href="">Neo print </a></h4>
            
          </div>

          
          <div class="col-lg-4 box">
            <i class="ion-ios-cart"></i>
            <h4 class="title"><a href="">Pimp my tee</a></h4>
          
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-trash"></i>
            <h4 class="title"><a href="">Neo Clean</a></h4>
          
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>A propos de nous</h3>
          <p>
            Neo-multiservices SARL , entreprise spécialisée dans l'imprimerie tout support et le nettoyage de bureau à travers ses services respectifs NEO-PRINT et NEO-CLEAN , vient offrir des servcies de qualité accessibles a toutes les bourses et surtout dans le delai.Neo MultiServices  propose de nombreuses solutions en fonction de vos  besoins.
          Nos produits et services présentent de nombreux avantages pouvant permettre de faire de bonnes affaires en toutes quiétude.
        </p>
        </header>

      
      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Produits et Services</h3>
         {#  <p>De nos jours,  L’Informatique et les technologies de l'information et de la communication (TIC) revêtent une importance primordiale au sein des entreprises et de ce fait, doivent être considérés comme un secteur stratégique contribuant dans une large mesure au développement économique et social.
          </p> #}
        </header>
          <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
             <!--  <img src="http://imprimerie-nice.org/wp-content/uploads/2014/05/imprimerie-nice.jpg" alt="" class="img-fluid"> -->
             <a href="neoprint.html"><img src="img/neomugs2.jpeg" alt="" class="img-fluid">
               </a> 
              </div>
              <h2 class="title"><a href="neoprint.html">Imprimerie et infographie</a></h2>
             
            </div>
          </div>
           <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="http://mybulkprint.com/wp-content/uploads/2015/02/tshirt.png" alt="" class="img-fluid">
                <div class="icon"></div>
              </div>
              <h2 class="title"><a href="services.html">Pimp my tee </a></h2>
               <p>
                
              </p> 
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="https://thumbs.dreamstime.com/b/attente-de-chariot-d-outils-nettoyage-le-seau-et-ensemble-%C3%A9quipement-dans-bureau-99372451.jpg" alt="" class="img-fluid">
                <div class="icon"></div>
              </div>
              <h2 class="title"><a href="services.html">Service d'entretien et de nettoyage </a></h2>
               <p>
                
              </p> 
            </div>
          </div>

         
           
      
          </div>

        </div>


      </div>
    </section><!-- #services -->

   

      </div>
  <!--  </section>   #facts -->
    <!--==========================
      Portfolio Section
    ============================-->
   
    <!--==========================
      Clients Section
    ============================-->
    {# <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Nos Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          
          <img src="'http://98025online.com/images/partner.png" alt="">
          <img src="http://98025online.com/images/partner8.png" alt="">
          
          <img src="http://98025online.com/images/partner1.png" alt="">
           <img src="http://98025online.com/images/partner6.png" alt="">
       
          <img src="http://98025online.com/images/partner3.png" alt="">
          <img src="http://98025online.com/images/partner11.png" alt="">

       
         
         
        </div>  

      </div>
    </section> #}<!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->

    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contactez nous</h3>
          <p>Nous sommes disponible H24</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Adresse</h3>
              <address>
                Abidjan Cocody, Angré bessikoi , carrefour GESTOCI
              </address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Téléphone</h3>
              <p><a href="tel:+225 84415156">+225 84 41 51 56</a></p>
              <p><a href="tel:+225 40812263">+225 40 81 22 63</a></p>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@Neo-MultiServices.com</a></p>
            </div>
          </div>

        </div>

        

      </div>
    </section><!-- #contact -->

  </main>

 
{% endblock %}
