{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
 <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
        </header>

        <div class="row">

{% for service in services %}
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">{{ service.libelle }}</a></h4>
            <p class="description">{{ service.description }}</p>
            <ul>
                <li>{{ service.domaine1 }}</li>
                <li>{{ service.domaine2 }}</li>
                <li>{{ service.domaine3 }}</li>
                <li>{{ service.domaine4 }}</li>
                <li>{{ service.domaine5 }}</li>
            </ul>
           {# <a href="{{ path('services_show', {'id': service.id}) }}"> <button class="btn btn-warning" >Details</button> </a> #}
           <a href="{{ path('img_print_index') }}"> <button class="btn btn-warning" >Détails</button> </a>
          {#   <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a> #}
          </div>
{% else %}
            <tr>
                <td colspan="9">Aucun  services enregistré</td>
            </tr>
        {% endfor %}
          

        </div>

      </div>
    </section><!-- #services -->
    


    <a href="{{ path('services_new') }}">creer un service</a>
{% endblock %}
