{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
<!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
      {#   <h3>Pimp my tee</h3> #}
        {# <p> Neo multiservices dispose de plusieurs services dont les principaux sont ceux cités ci-dessous . </p> #}
       {#  <a class="cta-btn" href="#commande">je commande</a> #}
      </div>
    </section><!-- #call-to-action -->
 <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
         <p> Neo multiservices dispose de plusieurs services dont les principaux sont ceux cités ci-dessous . </p>
        </header>

        <div class="row">

{% for service in services %}
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">{{ service.libelle }}</a></h4>
            <p class="description">{{ service.description }}</p>
            <ul>
                <li>{{ service.domaine1 }}</li>
                <li>{{ service.domaine2 }}</li>
                <li>{{ service.domaine3 }}</li>
                <li>{{ service.domaine4 }}</li>
                <li>{{ service.domaine5 }}</li>
            </ul>
           {# <a href="{{ path('services_show', {'id': service.id}) }}"> <button class="btn btn-warning" >Details</button> </a> #}
           <a href="{{ path('neoclean_index') }}"> <button class="btn btn-warning" >Détails</button> </a>
          {#   <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a> #}
          </div>
{% else %}
            <tr>
                <td colspan="9">Aucun  services enregistré</td>
            </tr>
        {% endfor %}
          

        </div>

      </div>
    </section><!-- #services -->
    


    <a href="{{ path('services_new') }}">creer un service</a>
{% endblock %}
