{% extends 'base.html.twig' %}

{% block title %}Services index{% endblock %}

{% block body %}
    <h1>Services index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Domaine1</th>
                <th>Domaine2</th>
                <th>Domaine3</th>
                <th>Domaine4</th>
                <th>Domaine5</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.libelle }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.domaine1 }}</td>
                <td>{{ service.domaine2 }}</td>
                <td>{{ service.domaine3 }}</td>
                <td>{{ service.domaine4 }}</td>
                <td>{{ service.domaine5 }}</td>
                <td>
                    <a href="{{ path('services_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('services_new') }}">Create new</a>
{% endblock %}
