{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ service.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Domaine1</th>
                <td>{{ service.domaine1 }}</td>
            </tr>
            <tr>
                <th>Domaine2</th>
                <td>{{ service.domaine2 }}</td>
            </tr>
            <tr>
                <th>Domaine3</th>
                <td>{{ service.domaine3 }}</td>
            </tr>
            <tr>
                <th>Domaine4</th>
                <td>{{ service.domaine4 }}</td>
            </tr>
            <tr>
                <th>Domaine5</th>
                <td>{{ service.domaine5 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('services_index') }}">back to list</a>

    <a href="{{ path('services_edit', {'id': service.id}) }}">edit</a>

    {{ include('services/_delete_form.html.twig') }}
{% endblock %}
