{% extends 'base3.html.twig' %}

{% block title %}Scout{% endblock %}

{% block body %}
    <h1>Scout</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scout.id }}</td>
            </tr>
            <tr>
                <th>Nomprenoms</th>
                <td>{{ scout.nomprenoms }}</td>
            </tr>
            <tr>
                <th>Datenaiss</th>
                <td>{{ scout.datenaiss ? scout.datenaiss|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieunaiss</th>
                <td>{{ scout.lieunaiss }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ scout.nationalite }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ scout.tel }}</td>
            </tr>
            <tr>
                <th>Boitepostal</th>
                <td>{{ scout.boitepostal }}</td>
            </tr>
            <tr>
                <th>Paroisse</th>
                <td>{{ scout.paroisse }}</td>
            </tr>
            <tr>
                <th>Baptise</th>
                <td>{{ scout.baptise ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Baptisepar</th>
                <td>{{ scout.baptisepar }}</td>
            </tr>
            <tr>
                <th>Datebapteme</th>
                <td>{{ scout.datebapteme ? scout.datebapteme|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieubapteme</th>
                <td>{{ scout.lieubapteme }}</td>
            </tr>
            <tr>
                <th>Fonctionparoisse</th>
                <td>{{ scout.fonctionparoisse }}</td>
            </tr>
            <tr>
                <th>Datescout</th>
                <td>{{ scout.datescout ? scout.datescout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datepromesse</th>
                <td>{{ scout.datepromesse ? scout.datepromesse|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieupromesse</th>
                <td>{{ scout.lieupromesse }}</td>
            </tr>
            <tr>
                <th>Fctscoutactu</th>
                <td>{{ scout.fctscoutactu }}</td>
            </tr>
            <tr>
                <th>Datenomi</th>
                <td>{{ scout.datenomi ? scout.datenomi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stage1</th>
                <td>{{ scout.stage1 }}</td>
            </tr>
            <tr>
                <th>Stage1date</th>
                <td>{{ scout.stage1date ? scout.stage1date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stage1lieu</th>
                <td>{{ scout.stage1lieu }}</td>
            </tr>
            <tr>
                <th>Stage2</th>
                <td>{{ scout.stage2 }}</td>
            </tr>
            <tr>
                <th>Stage2date</th>
                <td>{{ scout.stage2date ? scout.stage2date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stage2lieu</th>
                <td>{{ scout.stage2lieu }}</td>
            </tr>
            <tr>
                <th>Stage3</th>
                <td>{{ scout.stage3 }}</td>
            </tr>
            <tr>
                <th>Stage3date</th>
                <td>{{ scout.stage3date ? scout.stage3date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stage3lieu</th>
                <td>{{ scout.stage3lieu }}</td>
            </tr>
            <tr>
                <th>Stageinter1</th>
                <td>{{ scout.stageinter1 }}</td>
            </tr>
            <tr>
                <th>Stageinter1date</th>
                <td>{{ scout.stageinter1date ? scout.stageinter1date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stageinter1lieu</th>
                <td>{{ scout.stageinter1lieu }}</td>
            </tr>
            <tr>
                <th>Stageinter2</th>
                <td>{{ scout.stageinter2 }}</td>
            </tr>
            <tr>
                <th>Stageinter2date</th>
                <td>{{ scout.stageinter2date ? scout.stageinter2date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stageinter2lieu</th>
                <td>{{ scout.stageinter2lieu }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ scout.profession }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img src=" {{ asset('img/articles/')}} {{ scout.img }} " class="img-fluid" alt=""> </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('scout_index') }}">back to list</a>

    <a href="{{ path('scout_edit', {'id': scout.id}) }}">edit</a>

    {{ include('scout/_delete_form.html.twig') }}
{% endblock %}
