{% extends 'base3.html.twig' %}

{% block title %}Scout{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-8">
    <table class="table">
        <tbody>

            <tr>
                <th><b>Nom et prénoms :</b> </th>
                <td>{{ scout.nomprenoms }}</td>
            </tr>
            <tr>
                <th> <b>Date de naissance</b> </th>
                <td>{{ scout.datenaiss ? scout.datenaiss|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th> <b>Lieu de naissance :</b></th>
                <td>{{ scout.lieunaiss }}</td>
            </tr>
            <tr>
                <th> <b>Nationalité</b> </th>
                <td>{{ scout.nationalite }}</td>
            </tr>
            <tr>
                <th> <b>Téléphone</b></th>
                <td>{{ scout.tel }}</td>
            </tr>
            <tr>
                <th>Boite postale</th>
                <td>{{ scout.boitepostal }}</td>
            </tr>
            <tr>
                <th> <b>Paroisse</b></th>
                <td>{{ scout.paroisse }}</td>
            </tr>
            <tr>
                <th> <b>Baptisé :</b> </th>
                <td>{{ scout.baptise ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th> <b>Baptisé par :</b></th>
                <td>{{ scout.baptisepar }}</td>
            </tr>
            <tr>
                <th> <b>Date du bapteme</b></th>
                <td>{{ scout.datebapteme ? scout.datebapteme|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th> <b>Lieu du bapteme</b></th>
                <td>{{ scout.lieubapteme }}</td>
            </tr>
            <tr>
                <th> <b>Fonction en paroisse</b></th>
                <td>{{ scout.fonctionparoisse }}</td>
            </tr>
            <tr>
                <th> <b>Date d'entrée dans le scoutisme</b></th>
                <td>{{ scout.datescout ? scout.datescout|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th> <b>Date de la promesse</b></th>
                <td>{{ scout.datepromesse ? scout.datepromesse|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th> <b>Lieu de la promesse</b></th>
                <td>{{ scout.lieupromesse }}</td>
            </tr>
            <tr>
                <th> <b>Fonction scoute actuelle</b> :</th>
                <td>{{ scout.fctscoutactu }}</td>
            </tr>
            <tr>
                <th> <b>Date de nomination</b> :</th>
                <td>{{ scout.datenomi ? scout.datenomi|date('d-m-Y') : '' }}</td>
            </tr>

        </tbody>
    </table>
      <p><span> <b>STAGE DE FORMATION </b> </span></p>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>STAGE</th>
                      <th>DATE</th>
                      <th>LIEU</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>{{ scout.stage1 }}</td>
                      <td>{{  scout.stage1date ? scout.stage1date|date('d-m-Y') : '' }}</td>
                      <td>{{ scout.stage1lieu }}</td>
                    </tr>
                    <tr>
                      <td>{{ scout.stage2 }}</td>
                      <td>{{ scout.stage2date ? scout.stage2date|date('d-m-Y') : '' }}</td>
                      <td>{{ scout.stage2lieu }}</td>
                    </tr>
                    <tr>
                      <td>{{ scout.stage3 }}</td>
                      <td>{{  scout.stage3date ? scout.stage3date|date('d-m-Y') : '' }}</td>
                      <td>{{ scout.stage3lieu }}</td>
                    </tr>

                  </tbody>
  </table>
  <p><span> <b>STAGE DE FORMATION INTERNATIONALE</b> </span></p>
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>STAGE</th>
                    <th>DATE</th>
                    <th>LIEU</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>{{ scout.stageinter1 }}</td>
                    <td>{{ scout.Stageinter1date ? scout.Stageinter1date|date('d-m-Y') : ''  }}</td>
                    <td>{{ scout.stageinter1lieu }}</td>
                  </tr>
                  <tr>
                    <td>{{ scout.stageinter2 }}</td>
                    <td>{{ scout.Stageinter2date ? scout.Stageinter2date|date('d-m-Y') : '' }}</td>
                    <td>{{ scout.stageinter2lieu }}</td>
                  </tr>


                  </tbody>
</table>
<tr>
    <th> <b>Proféssion :</b> </th>
    <td>{{ scout.profession }}</td>
</tr>

  </div>
  <div class="col-lg-4">
  <p><img src="{{ asset('img/articles/')}}{{ scout.img }}" class="img-fluid" alt="{{ scout.img }}"></p>

  <div class="card-body">
    <a href="{{ path('scout_index') }}" class="btn btn-primary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
      </span>
      <span class="text">RETOURNER</span>
    </a>
    <div class="my-2"></div>

    <a href="{{ path('scout_edit', {'id': scout.id}) }}" class="btn btn-warning btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      <span class="text">MODIFIER</span>
    </a>

    <div class="my-2"></div>
    <a href="{{ path('scout_index') }}" class="btn btn-success btn-icon-info">
      <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
      </span>
      <span class="text">IMPRIMER</span>
    </a>


  </div>
</div>


 {{ include('scout/_delete_form.html.twig') }}
  </div>
</div>


{% endblock %}
