{{ form_start(form) }}
 <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
 
            <div class="form-row">
              <div class="form-group col-md-6">
               
                {{ form_widget(form.Nomprenoms , { 'attr': {'class':'form-control input-text','id':'name','placeholder':'Nom complet', 'data-rule':'minlen:4' ,'data-msg': 'entrez plus de 4 caractères SVP '}}) }}

                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
              	{{ form_widget(form.tel , { 'attr': {'class':'form-control input-text','id':'name','placeholder':'Numero de téléphone', 'data-rule':'minlen:7' ,'data-msg': 'Entrez un numero valide SVP '}}) }}

          
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
             {{ form_widget(form.taille , { 'attr': {'class':'form-control input-text','id':'name','placeholder':'specifiez la (es) taille(s)', 'data-rule':'minlen:7' ,'data-msg': 'Entrez une taille valide SVP '}}) }} 

              
              <div class="validation"></div>
            </div>
            <div class="form-group">
             {{ form_widget(form.couleur , { 'attr': {'class':'form-control input-text','id':'name','placeholder':'Quelle  couleur ?', 'data-rule':'minlen:7' ,'data-msg': 'Entrez une couleur valide SVP '}}) }} 

              
              <div class="validation"></div>
            </div>
            <div class="form-group">
             {{ form_widget(form.texte , { 'attr': {'class':'form-control input-text','id':'name','placeholder':'Le texte  a inscrire', 'data-rule':'minlen:4' ,'data-msg': 'Entrez un text valide SVP '}}) }} 

              
              <div class="validation"></div>
            </div>
            
            

            <div class="form-group">
            	 {{ form_widget(form.commentaire , { 'attr': {'class':'form-control input-text', 'value': 'article.slug','rows':'5', 'data-rule':'required' ,'data-msg':'Please write something for us', 'placeholder':'Commentaire , exemple : je veux avoir un kepi qui à le même design que mon t-shirt ... ' }}) }} 
              
              <div class="validation"></div>
            </div>
            <div class="form-group">
             {{ form_widget(form.article , {'attr': {'value': article.slug ,'class':'form-control input-text', 'readonly':'readonly' } }) }} 

              
              <div class="validation"></div>
            </div>
            <div class="text-center"> <button  class="btn btn-warning">{{ button_label|default('Enregister') }}</button></div>

        </div>
   
{{ form_end(form) }}
